body {
  background-color: #292929;
  min-width: 320px;
}

.container {
  padding: 60px 40px 0;
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
  background-color: #313131;
}

.slider-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 
            "a a"
            "b c";
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.slider {
  grid-area: a;
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 10px;
  box-shadow: 0 5px 5px #292929;
}

.slider-text {
  grid-area: b;
  padding: 10px 0;
  width: 100%;
  max-height: 120px;
  box-shadow: none;
}

.slider-item {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slide1 {
  z-index: 1;
  opacity: 0;
  left: -500px;
  background-image: url(../cssMemeSlider/memes/meme1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.slide2 {
  z-index: 2;
  opacity: 0;
  left: -500px;
  background-image: url(../cssMemeSlider/memes/meme2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.slide3 {
  z-index: 3;
  opacity: 0;
  left: -500px;
  background-image: url(../cssMemeSlider/memes/meme3.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.slide4 {
  z-index: 4;
  opacity: 0;
  left: -500px;
  background-image: url(../cssMemeSlider/memes/meme4.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.slider-item-text {
  position: absolute;
  padding: 0 20px;
  display: flex;
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: none;
  border-radius: 10px;
}

.bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.controls {
  grid-area: c;
  display: flex;
  gap: 16px;
  justify-content: end;
  padding: 15px 20px;
  list-style: none;
}

input {
   display: none;
}

label {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

label::after {
  position: absolute;
  content: ' ';
  border: 2px solid #95C96D;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: -3px;
  top: -3px;
}

.active-zone {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  left: -8px;
  top: -8px;
}

.background1 {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url(../cssMemeSlider/memes/meme4.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.background2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url(../cssMemeSlider/memes/meme1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.background3 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url(../cssMemeSlider/memes/meme2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.background4 {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url(../cssMemeSlider/memes/meme3.png);
  background-size: contain;
  background-repeat: no-repeat;
}

label:hover,
#meme1:checked ~ .controls label:nth-of-type(1),
#meme2:checked ~ .controls label:nth-of-type(2),
#meme3:checked ~ .controls label:nth-of-type(3),
#meme4:checked ~ .controls label:nth-of-type(4) {
  background-color: #95C96D;
  cursor: pointer;
}

#meme1:checked ~ .slider > .slide1,
#meme2:checked ~ .slider > .slide2,
#meme3:checked ~ .slider > .slide3,
#meme4:checked ~ .slider > .slide4 {
  opacity: 1;
  left: 0;
  animation: slide-in .7s;
}

#meme1:checked ~ .slider > .background1,
#meme2:checked ~ .slider > .background2,
#meme3:checked ~ .slider > .background3,
#meme4:checked ~ .slider > .background4 {
  opacity: 1;
}

@keyframes slide-in {
  from {
    left: 900px
  }
  to {
    left: 0px
  }
}

@media screen and (max-width: 678px) {
  .container {
    padding: 60px 20px 0;
  }

  .slider-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
              "a"
              "c"
              "b";
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
  }

  .slider-item-text {
    padding: 0;
  }

  .controls {
    padding: 15px 10px;
    justify-content: center;
  }
}

