body {
  background-color: #292929;
  min-width: 320px;
}

.container {
  padding: 60px 40px 0;
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
  background-color: #313131;
}

.slider-container {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  background-color: #424242;
}

.slider {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: #d7d7d7;
  border-radius: 10px;
}


.bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.text {
  padding: 0 20px;
  color: #fff;
}

.controls-list {
  display: flex;
  gap: 10px;
  justify-content: end;
  padding: 0 20px;
  list-style: none;
}

input {
   display: none;
}

label {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #fff;
}

label::after {
  position: absolute;
  content: ' ';
  border: 2px solid red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  left: 3px;
  top: 3px;
}