body {
  background-color: #292929;
  min-width: 320px;
}

.container {
  padding: 60px 40px 0;
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
  background-color: #313131;
}

.slider-container {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  background-color: #424242;
}

.slider {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: #d7d7d7;
  border-radius: 10px;
}


.bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.text {
  padding: 0 20px;
  color: #fff;
}

.controls {
  display: flex;
  gap: 16px;
  justify-content: end;
  padding: 10px 20px;
  list-style: none;
}

input {
   display: none;
}

label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all ease-in .1s;
}

label::after {
  position: absolute;
  content: ' ';
  border: 2px solid #95C96D;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: -5px;
  top: -5px;
}

label:hover,
#meme1:checked ~ .controls label:nth-of-type(1),
#meme2:checked ~ .controls label:nth-of-type(2),
#meme3:checked ~ .controls label:nth-of-type(3),
#meme4:checked ~ .controls label:nth-of-type(4) {
  background-color: #95C96D;
}